{% extends 'base.html.twig' %}

{% block title %}Language index{% endblock %}

{% block body %}
    <h1>Language index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Name</th>
                <th>Locale</th>
                <th>Is_default</th>
                <th>Is_active</th>
                <th>Flag</th>
                <th>Position</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for language in languages %}
            <tr>
                <td>{{ language.id }}</td>
                <td>{{ language.code }}</td>
                <td>{{ language.name }}</td>
                <td>{{ language.locale }}</td>
                <td>{{ language.isDefault ? 'Yes' : 'No' }}</td>
                <td>{{ language.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ language.flag }}</td>
                <td>{{ language.position }}</td>
                <td>{{ language.createdAt ? language.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ language.updatedAt ? language.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_language_show', {'id': language.id}) }}">show</a>
                    <a href="{{ path('app_language_edit', {'id': language.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_language_new') }}">Create new</a>
{% endblock %}
