{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ article.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ article.title }}</td>
        </tr>
        <tr>
            <th>Content</th>
            <td>{{ article.content }}</td>
        </tr>
        <tr>
            <th>Slug</th>
            <td>{{ article.slug }}</td>
        </tr>
        <tr>
            <th>Is_published</th>
            <td>{{ article.isPublished ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <th>Featured_image</th>
            <td>{{ article.featuredImage }}</td>
        </tr>
        <tr>
            <th>View_count</th>
            <td>{{ article.viewCount }}</td>
        </tr>
        <tr>
            <th>Published_at</th>
            <td>{{ article.publishedAt ? article.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Meta_title</th>
            <td>{{ article.metaTitle }}</td>
        </tr>
        <tr>
            <th>Meta_description</th>
            <td>{{ article.metaDescription }}</td>
        </tr>
        <tr>
            <th>Created_at</th>
            <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>UpdatedAt</th>
            <td>{{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_article_index') }}">back to list</a>

    <a href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
